.mighty-buttongroup {
    display: flex;
    flex-wrap: wrap;
}

.mighty-buttongroup .mighty-button-link {
    display: flex;
    color: #fff;
    fill: #fff;
    background-color: #3e97d2;
    transition: all .3s;
    justify-content: center;
    line-height: 1;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
}

.mighty-buttongroup .mighty-button-icon-left .mighty-button-text {
    order: 1;
}

.mighty-buttongroup .mighty-button-lg {
    padding: 20px 40px;
    font-size: 20px;
}

.mighty-buttongroup .mighty-button-sm {
    padding: 10px 20px;
    font-size: 14px;
}

.mighty-buttongroup .mighty-button-text {
    margin-right: 10px;
}

.mighty-buttongroup .mighty-button-icon-left .mighty-button-text {
    margin-right: 0;
    margin-left: 10px;
}

.mighty-buttongroup svg {
    width: 1em;
}

.mighty-buttongroup.mighty-buttongroup-stack-desktop {
    flex-direction: column;
}

.mighty-buttongroup.mighty-buttongroup-align-center {
    justify-content: center;
}

.mighty-buttongroup.mighty-buttongroup-align-right {
    justify-content: flex-end;
}

.mighty-buttongroup.mighty-buttongroup-align-justify .mighty-button {
    flex-grow: 1;
}

@media (max-width: 1024px) {
    .mighty-buttongroup.mighty-buttongroup-stack-desktop {
        flex-direction: column;
    }

    .mighty-buttongroup.mighty-buttongroup-stack-tablet {
        flex-direction: column;
    }

}

@media (max-width: 767px) {
    .mighty-buttongroup.mighty-buttongroup-stack-desktop {
        flex-direction: column;
    }

    .mighty-buttongroup.mighty-buttongroup-stack-tablet {
        flex-direction: column;
    }

    .mighty-buttongroup.mighty-buttongroup-stack-mobile {
        flex-direction: column;
    }
}