.mighty-buttongroup {
    text-align: center;
}

.mighty-buttongroup .mt-button {
    display: inline;
    margin: 10px;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    .mighty-buttongroup .stack-on-mobile {
        display: block;
    }
}

/* Tablet */
@media only screen and (max-width: 991px) {
    .mighty-buttongroup .stack-on-tablet {
        display: block;
    }
}

/* Desktop */
@media only screen and (min-width: 992px) {
    .mighty-buttongroup .stack-on-desktop {
        display: block;
    }
}