.mighty-mailchimp-wrapper .mailchimp-submit .mt-form-submit {
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    border-style: none;
}

.mighty-mailchimp-wrapper .mailchimp-submit .icon-before {
    display: flex;
    flex-direction: row;
}

.mighty-mailchimp-wrapper .mailchimp-submit .icon-after {
    display: flex;
    flex-direction: row-reverse;
}

.mighty-mailchimp-wrapper .mighty-maichimp-form {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.mighty-mailchimp-wrapper .mighty-maichimp-form .mt-form-group {
    padding-right: 15px;
    padding-left: 15px;
}

.mighty-mailchimp-wrapper .mighty-maichimp-form .mt-label-control {
    display: block;
}

.mighty-mailchimp-wrapper .mighty-maichimp-form .mt-form-control {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.mighty-mailchimp-wrapper .mighty-maichimp-form .mailchimp-submit {
    margin-top: 10px;
}

/* Column Width */
/* Regular */
@media (min-width: 768px) {
    .mt-form-group.mt-col-20 {
        width: 20%;
    }
    .mt-form-group.mt-col-25 {
        width: 25%;
    }
    .mt-form-group.mt-col-33 {
        width: 33.333%;
    }
    .mt-form-group.mt-col-40 {
        width: 40%;
    }
    .mt-form-group.mt-col-50 {
        width: 50%;
    }
    .mt-form-group.mt-col-60 {
        width: 60%;
    }
    .mt-form-group.mt-col-66 {
        width: 66.666%;
    }
    .mt-form-group.mt-col-75 {
        width: 75%;
    }
    .mt-form-group.mt-col-80 {
        width: 80%;
    }
    .mt-form-group.mt-col-100 {
        width: 100%;
    }
}

/* Medium */
@media (min-width: 768px) and (max-width: 1024px) {
    .mt-form-group.mt-col-md-20 {
        width: 20%;
    }
    .mt-form-group.mt-col-md-25 {
        width: 25%;
    }
    .mt-form-group.mt-col-md-33 {
        width: 33.333%;
    }
    .mt-form-group.mt-col-md-40 {
        width: 40%;
    }
    .mt-form-group.mt-col-md-50 {
        width: 50%;
    }
    .mt-form-group.mt-col-md-60 {
        width: 60%;
    }
    .mt-form-group.mt-col-md-66 {
        width: 66.666%;
    }
    .mt-form-group.mt-col-md-75 {
        width: 75%;
    }
    .mt-form-group.mt-col-md-80 {
        width: 80%;
    }
    .mt-form-group.mt-col-md-100 {
        width: 100%;
    }
}

/* Small */
@media (max-width: 767px) {
    .mt-form-group.mt-col-sm-20 {
        width: 20%;
    }
    .mt-form-group.mt-col-sm-25 {
        width: 25%;
    }
    .mt-form-group.mt-col-sm-33 {
        width: 33.333%;
    }
    .mt-form-group.mt-col-sm-40 {
        width: 40%;
    }
    .mt-form-group.mt-col-sm-50 {
        width: 50%;
    }
    .mt-form-group.mt-col-sm-60 {
        width: 60%;
    }
    .mt-form-group.mt-col-sm-66 {
        width: 66.666%;
    }
    .mt-form-group.mt-col-sm-75 {
        width: 75%;
    }
    .mt-form-group.mt-col-sm-80 {
        width: 80%;
    }
    .mt-form-group.mt-col-sm-100 {
        width: 100%;
    }
}