.text-center {
    text-align: center;
}

.elementor-widget-mt-team .mighty-team .person-name {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.elementor-widget-mt-team .mighty-team .person-designation {
    color: inherit;
    margin-top: 5px;
    font-size: 15px;
}

.elementor-widget-mt-team .mighty-team .person-about {
    margin-top: 5px;
    font-size: 15px;
}

.elementor-widget-mt-team .mighty-team .avatar-wrapper .img {
    width: 100%;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper {
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper li {
    display: inline;
}
/* Social Icons Colors */
.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-android {
    color: #A4C639;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-apple {
    color: #999999;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-behance {
    color: #1769ff;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-bitbucket {
    color: #205081;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-codepen {
    color: #000000;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-delicious {
    color: #3399ff;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-deviantart {
    color: #05cc47;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-digg {
    color: #005be2;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-dribbble {
    color: #ea4c89;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-elementor {
    color: #D30C5C;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-envelope {
    color: #ea4335;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-facebook,
.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-facebook-f {
    color: #3b5998;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-flickr {
    color: #0063dc;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-foursquare {
    color: #2d5be3;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-freecodecamp,
.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-free-code-camp {
    color: #006400;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-github {
    color: #333333;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-gitlab {
    color: #e24329;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-globe {
    color: #818a91;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-google-plus,
.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-google-plus-g {
    color: #dd4b39;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-houzz {
    color: #7ac142;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-instagram {
    color: #262626;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-jsfiddle {
    color: #487AA2;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-link {
    color: #818a91;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-linkedin {
    color: #0077b5;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-medium {
    color: #00ab6b;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-meetup {
    color: #ec1c40;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-mixcloud {
    color: #273a4b;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-odnoklassniki {
    color: #F4731C;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-pinterest {
    color: #bd081c;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-product-hunt {
    color: #da552f;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-reddit {
    color: #ff4500;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-rss {
    color: #f26522;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-shopping-cart {
    color: #4CAF50;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-skype {
    color: #00AFF0;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-slideshare {
    color: #0077b5;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-snapchat {
    color: #fffc00;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-soundcloud {
    color: #ff8800;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-spotify {
    color: #2ebd59;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-stack-overflow {
    color: #fe7a15;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-steam {
    color: #00adee;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-stumbleupon {
    color: #EB4924;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-telegram {
    color: #2CA5E0;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-thumb-tack {
    color: #1aa1d8;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-tripadvisor {
    color: #589442;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-tumblr {
    color: #35465c;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-twitch {
    color: #6441A5;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-twitter {
    color: #1DA1F2;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-viber {
    color: #665cac;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-vimeo {
    color: #1ab7ea;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-vk {
    color: #45668e;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-weibo {
    color: #df2029;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-weixin {
    color: #7bb32e;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-whatsapp {
    color: #25d366;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-wordpress {
    color: #21759b;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-xing {
    color: #026466;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-yelp {
    color: #af0606;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-youtube {
    color: #cd201f;
}

.elementor-widget-mt-team .mighty-team .social-icons-wrapper .fa-500px {
    color: #0099e5;
}
