.mighty-marquee {
    width: 100%; 
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    font-size: 40px;
}

.mighty-marquee > div {
    display: table-row;
    white-space: nowrap;
    padding-left: 100%; 
    animation: marquee 20s linear infinite; 
}
  
.mighty-marquee > div p {
    /* width: 450px; 
    padding-left: 450px;  */
    display: table-cell; 
}
  
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
